<html>
  
<h1>About Us</h1>

   <!--- about us Content --->


   <section class="about us">
     
<div class="row">
    <div class="about-col">
        <h1>We are Don Bosco</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi illo soluta labore veritatis deleniti debitis obcaecati facere consequuntur recusandae! Impedit officiis mollitia facere maxime. Nobis voluptate sit laboriosam blanditiis necessitatibus.</p>
        <a class="btn btn-danger" href="#">Explore Now</a>
    </div>
    <div class="about-col">
      <img src="{{pic21}}">
    </div>
</div>

   </section>
<body>
   <div class="container">
    <div class="image-box">
      <div class="image">
        <img class="img1" src="{{img1}}" alt="">
      </div>
      <div class="image">
        <img class="img2" src="{{img2}}" alt="">
      </div>
      <div class="image">
        <img class="img3" src="{{img3}}" alt="">
      </div>
      <div class="image">
        <img class="img4" src="{{img4}}" alt="">
      </div>
    </div>
  </div>
   
  </body>


   
      <section class="footer">
        <h4>About Us</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam ratione nostrum hic.
          At iste harum id non maiores tempora quos distinctio error<br> repellat aliquid alias,
          nulla minima. Soluta, quae ea.
        </p>
        <div class="icons">
          <i class="fa fa-apple"></i>
          <i class="fa fa-instagram"></i>
          <i class="fa fa-snapchat"></i>
          <i class="fa fa-facebook"></i>
        </div>
        <p>Developed for <i class="fa fa-heart-o"></i>ICET-internship</p>
      </section>

</html>    
