<section id="expert" class="Service py-5">
    <div class="col mx-auto align-items-center my-5">
    <div class="row mx-auto justify-content-center align-items-center text-center container ">
    <div class="heading text-center pt-5 text-light">
    <h2 class="font-weight-bold pb-5">OUR ALUMNUS</h2>
    </div>
    <div class="one col-lg-3 col-md-3 col-12 w-25 m-2">
    <img class="img-fluid w-75" src="{{frank}}">
    <h5 class="font-weight-bold pt-5">Frank ocean</h5>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus in optio velit harum.</p>
    </div>
    

    <div class="one col-lg-3 col-md-3 col-12 w-25 m-2">
    <img class="img-fluid w-75 " src="{{claire}}">
    <h5 class="font-weight-bold pt-5">claire </h5>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus in optio velit harum.</p>
    </div>


<div class="one col-lg-3 col-md-3 col-12 w-25 m-2">
    <img class="img-fluid w-75" src="{{travis}}">
    <h5 class="font-weight-bold pt-5">cactus jack</h5>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus in optio velit harum.</p>
</div>

<div class="one col-lg-3 col-md-3 col-12 w-25 m-2">
    <img class="img-fluid w-75" src="{{matt}}">
    <h5 class="font-weight-bold">matt smith</h5>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus in optio velit harum.</p>
</div>

<div class="one col-lg-3 col-md-3 col-12 w-25 m-2">
    <img class="img-fluid w-75" src="{{jorja}}">
    <h5 class="font-weight-bold">Jorja smith</h5>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus in optio velit harum.</p>
</div>

<div class="one col-lg-3 col-md-3 col-12 w-25 m-2">
    <img class="img-fluid w-75" src="{{riri}}">
    <h5 class="font-weight-bold">Rihanna</h5>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus in optio velit harum.</p>
</div>
</div>
</div>
</section>

