<html>
    <head>
        <title> int-200 </title>
      
    </head>
        
        <body>

        <!--INtro pic-->
            <section id="banner">
                
            <div class="banner-text">
            <h1>Don Bosco Highschool ~</h1>
            <p >Excellence . Ignite  . Knoweledge</p>
            <div class="banner-btn">
                <a href="#"><span></span>Find Out</a>
                <a href="#"><span></span> More</a>
            </div>
            </div>
        </section>

        <section class="why py-5">
            <div class="row align-items-center container my-5 mx-auto">
            <div class="text col-lg-6 col-md-6 col-12 w-50">
                <h6>Why Us?! </h6>
                <h2>Lorem ipsum dolor sit amet consectetur.</h2>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Labore, sed.<br>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam, culpa.<br>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perferendis, eligendi?</p>
            <a href="#">Learn More</a>
            </div>
            <div class="img col-lg-6 col-md-6 col-12 w-70 ">
                <img class="img-fluid" src="{{pic3}}">
            </div>
            </div>

        </section>

        <section id="expert" class="Service py-5">
            <div class="col mx-auto align-items-center my-5">
            <div class="row mx-auto justify-content-center align-items-center text-center container ">
            <div class="heading text-center pt-5 text-light">
            <h2 class="font-weight-bold pb-5">We Expertise In..</h2>
            </div>
            <div class="one col-lg-3 col-md-3 col-12 w-25 m-2">
            <img class="img-fluid w-75" src="{{pic4}}">
            <h5 class="font-weight-bold pt-5">Physics Chemistry Maths<br>~Computer science</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus in optio velit harum.</p>
            </div>
            

            <div class="one col-lg-3 col-md-3 col-12 w-25 m-2">
            <img class="img-fluid w-75 " src="{{pic5}}">
            <h5 class="font-weight-bold pt-5">Physics Chemistry Biology <br>~Computer science </h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus in optio velit harum.</p>
            </div>
        

        <div class="one col-lg-3 col-md-3 col-12 w-25 m-2">
            <img class="img-fluid w-75" src="{{pic6}}">
            <h5 class="font-weight-bold pt-5">Physics Chemistry Biology Maths</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus in optio velit harum.</p>
        </div>
        
        <div class="one col-lg-3 col-md-3 col-12 w-25 m-2">
            <img class="img-fluid w-75" src="{{pic7}}">
            <h5 class="font-weight-bold">Commmerce with Business Studies</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus in optio velit harum.</p>
        </div>

        <div class="one col-lg-3 col-md-3 col-12 w-25 m-2">
            <img class="img-fluid w-75" src="{{pic8}}">
            <h5 class="font-weight-bold">Commmerce with Economics</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus in optio velit harum.</p>
        </div>

        <div class="one col-lg-3 col-md-3 col-12 w-25 m-2">
            <img class="img-fluid w-75" src="{{pic9}}">
            <h5 class="font-weight-bold">Commmerce with Accountancy</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus in optio velit harum.</p>
        </div>
        </div>
        </div>
        </section>

        <!--Campus-->
        <section class="campus">

            <h3>Our Campus Around The World</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
            <div class="row">
            <div class="campus-col">
                <img src="{{pic10}}">
                <div class="layer">
                <h3>London</h3>
                </div>
            </div>
            <div class="campus-col">
                <img  src="{{pic11}}">
                <div class="layer">
                <h3>South Africa</h3>
                </div>
            </div>
            <div class="campus-col">
                <img  src="{{pic12}}">
                <div class="layer">
                <h3>New York</h3>
                </div>
            </div>
            </div>
        </section>

        <!-- -----------facilities------------- -->
        <section class="facilities">
            <h1>Our Facilities</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus.</p>
        
            <div class="row">
            
                <div class="facilities-col">
                <img src="{{pic13}}">
                <h3>World class Library</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Possimus, dolorem ab?</p>
                </div>

                <div class="facilities-col">
                <img src="{{pic14}}">
                <h3>Tennis Grass Court</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Possimus, dolorem ab?</p>
                </div>

                <div class="facilities-col">
                <img src="{{pic15}}">
                <h3>Football training Ground</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illum, ipsam. Sed?</p>
                </div>
            </div>
            <div class="row">
                <div class="facilities-col">
                <img src="{{pic16}}">
                <h3>Best career guidance</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illum, ipsam. Sed?.</p>
                </div>

                <div class="facilities-col">
                <img src="{{pic17}}">
                <h3>Best club activities</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illum, ipsam. Sed?</p>
                </div>

                <div class="facilities-col">
                <img src="{{pic18}}">
                <h3>Monthly study check</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing.</p>
                </div>
            </div>
        </section>


        <section>
            <div class="testimonial">
            <h1>What our student Says</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus.</p>
            
            <div class="row">
                <div class="testimonial-col">
                <img src="{{pic19}}">
                <div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti omnis illo inventore facilis dolorum
                        vero suscipit distinctio aut commodi asperiores perspiciatis quam ducimus ea adipisci, repellendus 
                        voluptatibus provident a necessitatibus?</p>
                <h3>ian poopley</h3>
                </div>
                </div>

                <div class="testimonial-col">
                <img src="{{pic20}}">
                <div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti omnis illo inventore facilis dolorum
                        vero suscipit distinctio aut commodi asperiores perspiciatis quam ducimus ea adipisci, repellendus 
                        voluptatibus provident a necessitatibus?</p>
                <h3>ian poopley</h3>
                </div>
                </div>
            </div>
         </div>
        </section>
    </body>

  <section class="footer">
    <h4>About Us</h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam ratione nostrum hic.
      At iste harum id non maiores tempora quos distinctio error<br> repellat aliquid alias,
      nulla minima. Soluta, quae ea.
    </p>
    <div class="icons">
      <i class="fa fa-apple"></i>
      <i class="fa fa-instagram"></i>
      <i class="fa fa-snapchat"></i>
      <i class="fa fa-facebook"></i>
    </div>
    <p>Developed for <i class="fa fa-heart-o"></i>ICET-internship</p>
  </section>
</html>
